.first-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  
  .logo img {
    height: 40px;
  }

    /* Estilos para el elemento pulsable */
  .ofreceServicios {
    display: flex;
  }

  /* Estilos para el texto pulsable */
  .pulsable {
    font-size: 20px; /* Tamaño del texto */
    color: #6A6A6A;
    font-weight: bold;
    cursor: pointer;
    padding: 15px 30px; /* Espaciado interno */
    border-radius: 20px;
  }

  /* Cambio de color de fondo al pasar el ratón por encima */
  .pulsable:hover {
    background-color: #DDDDDD;
  }

  .logo {
    display: flex;
    align-items: center; /* Alinea verticalmente los elementos */
  }

  .logo img {
    height: 40px;
    margin-right: 10px; /* Agrega un espacio entre la imagen y el texto */
  }

  .site-name {
    font-size: 20px; /* Tamaño del texto del nombre del sitio */
    font-weight: bold; /* Negrita */
    color: #ff7f00;
  }

    /* Estilos para el botón */
  .buttonInicial {
    /* Estilos comunes */
    background-color: white; /* Fondo blanco */
    padding: 10px 20px; /* Espaciado interno */
    border-radius: 20px; /* Bordes redondeados */
    transition: box-shadow 0.3s ease, border-color 0.3s ease; /* Transición de la sombra y del color del borde */
    outline: none; /* Quita el contorno al hacer clic */
    cursor: pointer; /* Cursor de puntero */
    border: 1px solid #ccc; /* Borde gris */
  }

  .buttonInicial:hover {
    box-shadow: 0 4px 8px rgba(221, 221, 221, 0.5); /* Sombra al pasar el ratón */
    border-color: #ccc; /* Color del borde al pasar el ratón */
  }
  
  